In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
pages = range(2,25)
url = f"https://twitchtracker.com/channels/viewership?page=1"
def parse_html(url):
    headers = {'User-Agent': 'Mozilla/5.0 (Platform; Security; OS-or-CPU; Localization; rv:1.4) Gecko/20030624 Netscape/7.1 (ax)'}
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, 'html.parser')
    df=pd.read_html(str(soup), flavor='bs4')[0]
    return df

In [3]:
import time
t=1

df = parse_html(url)
for page in pages:
    print(page)
    new_df = parse_html(f"https://twitchtracker.com/channels/viewership?page={page}")
    df = df.append(new_df, ignore_index=True)
    time.sleep(t)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,AVG Viewers,Time Streamed,All Time Peak Viewers,Hours Watched,Rank,Followers Gained,Total Followers,Total Views
0,#1,NaN,tommyinnit,195782,14.3hours,650237,2806209,2,+334307,5499713,49185807
1,#2,NaN,Quackity,158364,10.2hours,381550,1620588,4,+198959,3471874,23178122
2,#3,NaN,Sapnap,129001,9.2hours,287152,1188960,8,+183191,2237876,8740493
3,#4,NaN,auronplay,113520,109.4hours,313347,12419097,3,+341562,8741858,142994817
4,#5,NaN,xQcOW,109059,339.9hours,222720,37072768,1,+182238,5776761,361856811

In [5]:
df.pop('Unnamed: 1')
df = df.rename(columns={'Unnamed: 2': 'username'})
df = df.rename(columns={'Unnamed: 0': 'id'})
to_remove = df["id"].str.contains('ads')
df_toremove_index = df[to_remove].index
df = df.drop(index=df_toremove_index)

In [6]:
df.head(20)

,id,username,AVG Viewers,Time Streamed,All Time Peak Viewers,Hours Watched,Rank,Followers Gained,Total Followers,Total Views
0,#1,tommyinnit,195782,14.3hours,650237,2806209,2,+334307,5499713,49185807
1,#2,Quackity,158364,10.2hours,381550,1620588,4,+198959,3471874,23178122
2,#3,Sapnap,129001,9.2hours,287152,1188960,8,+183191,2237876,8740493
3,#4,auronplay,113520,109.4hours,313347,12419097,3,+341562,8741858,142994817
4,#5,xQcOW,109059,339.9hours,222720,37072768,1,+182238,5776761,361856811
5,#6,AdinRoss,107816,83.4hours,254923,8986453,7,+837941,3946089,21778759
6,#7,WilburSoot,105874,8.3hours,215211,878604,15,+219086,3356385,15913013
7,#8,ibai,98068,111.1hours,1538645,10898658,5,+321873,6204120,204197597
8,#9,Tubbo,92966,15.2hours,332671,1408437,17,+179383,3649547,45962620
9,#10,LCK_Korea,90113,89.3hours,365983,8044086,9,+46689,922251,268647537
10,#11,RanbooLive,87705,106.6hours,346132,9350811,10,+297717,2889972,41353249
11,#12,RocketLeague,80301,69.2hours,214930,5556826,13,+103074,3162189,245021264
12,#13,Riot Games,78315,192.2hours,654205,15052113,6,+180549,5145477,1283791496
14,#14,ThisIsNotGeorgeNotFound,75837,19.4hours,114463,1473757,23,+237958,793752,2026883
15,#15,Rainbow6,71417,116.3hours,191703,8303362,14,+105674,1993976,83988789
16,#16,loud_coringa,66990,120.9hours,144537,8101286,16,+153027,1890683,20149102
17,#17,Flashpoint,66883,125.1hours,128800,8363729,11,+160653,404895,118675590
18,#18,TheRealKnossi,64403,95.5hours,336065,6151556,19,+95886,1674909,52372343
19,#19,Rubius,60892,116.1hours,344676,7068535,18,+252579,9188382,177882692
20,#20,shroud,60253,205hours,516289,12349819,12,+187393,9259582,483658279

In [7]:
pages = range(2)
url = f"https://twitchtracker.com/shroud/games"
def parse_games(url):
    headers = {'User-Agent': 'Mozilla/5.0 (Platform; Security; OS-or-CPU; Localization; rv:1.4) Gecko/20030624 Netscape/7.1 (ax)'}
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, "html.parser")
    df=pd.read_html(str(soup))[0]
    return df

In [8]:
first_df = parse_games(url)

In [9]:
first_df

,#,Game,Avg. viewers,Max. viewers,Followers,Total airtime,Last seen
0,#1,PLAYERUNKNOWN'S BATTLEGROUNDS,29080,152919,665 /hour,157330 27.4%,2021-04-02 06:00:00
1,#2,Counter-Strike: Global Offensive,13602,104421,309.4 /hour,40344 7%,2021-04-09 23:40:00
2,#3,Apex Legends,48327,202955,1185.3 /hour,36546 6.4%,2021-05-05 20:00:00
3,#4,VALORANT,54721,516289,1558.4 /hour,32646 5.7%,2021-06-01 21:50:00
4,#5,World of Warcraft,19352,51344,281 /hour,30329 5.3%,2021-06-02 12:20:00
...,...,...,...,...,...,...,...
236,#237,The Hidden: Source,27377,27377,576 /hour,10 0%,2018-08-14 23:50:00
237,#238,IRONSIGHT,29874,29874,774 /hour,10 0%,2018-04-23 06:10:00
238,#239,Ravenfield,19076,19076,336 /hour,10 0%,2018-07-12 18:30:00
239,#240,Fear the Wolves,29065,29065,444 /hour,10 0%,2018-09-19 22:40:00
240,#241,Serious Sam VR: The Last Hope,26663,26663,558 /hour,10 0%,2018-01-04 03:10:00

In [10]:
first_df.dtypes

#                object
Game             object
Avg. viewers      int64
Max. viewers      int64
Followers        object
Total airtime    object
Last seen        object
dtype: object

In [21]:
shroud = df[19:20]

In [22]:
shroud

,id,username,AVG Viewers,Time Streamed,All Time Peak Viewers,Hours Watched,Rank,Followers Gained,Total Followers,Total Views
20,#20,shroud,60253,205hours,516289,12349819,12,+187393,9259582,483658279

In [23]:
df.columns

Index(['id', 'username', 'AVG Viewers', 'Time Streamed',
       'All Time Peak Viewers', 'Hours Watched', 'Rank', 'Followers Gained',
       'Total Followers', 'Total Views'],
      dtype='object')

In [29]:
#correlation between time streamed and total followers
import seaborn as sns

In [34]:
k_df= df[['Total Followers', 'Time Streamed']]

In [48]:
k_df.corr()

Empty DataFrame
Columns: []
Index: []

In [50]:
first_df['Avg. viewers']

0      29080
1      13602
2      48327
3      54721
4      19352
       ...
236    27377
237    29874
238    19076
239    29065
240    26663
Name: Avg. viewers, Length: 241, dtype: int64

In [53]:
streamer_average_viewers= first_df['Avg. viewers'].mean()

In [54]:
streamer_average_viewers

25000.402489626555

In [1]:
#frequency of how often they stream?
#def metrics_streamers(streamer):
    #streamer_average_viewers= first_df['Avg. viewers'].mean()
    #k_df= df[['Total Followers', 'Time Streamed']]
    #corr_followers_time_streamed=k_df.corr()
    #live_frequency = sns.countplot(x='Last seen',data=first_df)
    #time_streamed_top_10_avg=
    #return streamer_average_viewers, corr_followers_time_streamed

In [2]:
#metrics_streamers(df[238:2])

In [3]:
#corr.style.background_gradient(cmap='coolwarm', axis=1)

In [72]:
#scrape top 5 games of all streamers

In [5]:
#user = df['username']